<div style="margin-bottom: 1em;">
    <h3 style="display:inline;">About Student Portal</h3>
</div>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate dolor neque, at consectetur augue finibus vel. Aenean faucibus enim vitae pretium porttitor. Nulla vel aliquam ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed sit amet augue gravida, dignissim lectus quis, egestas justo. Ut dapibus mauris in dui laoreet, porta gravida ipsum sollicitudin. In tincidunt vel dui in tincidunt. Duis sollicitudin nunc eu tempus consectetur. In consectetur mollis arcu, eget porta sem ullamcorper vel.
</p>
<p>
    Curabitur ac velit et velit hendrerit lobortis ac eu felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent bibendum pellentesque leo, non egestas augue efficitur at. Nulla non metus a neque congue porttitor vitae ut sapien. Sed sit amet velit at leo lacinia pretium. Vestibulum interdum iaculis tellus. Praesent eget erat arcu. Aenean ultrices efficitur tristique. Aliquam erat volutpat. Donec fermentum mauris sed est auctor, a malesuada nunc convallis.
</p>
<p>
    Integer vel condimentum eros, quis imperdiet eros. Aenean ornare mattis tempor. Sed a sodales diam. Fusce auctor nulla quis suscipit blandit. In ligula elit, finibus eget nunc vitae, pretium dapibus sapien. Donec eleifend magna nisi. Maecenas porta varius tortor nec condimentum. Cras euismod nulla vitae neque suscipit laoreet.
</p>
<p>
    Maecenas et accumsan purus. Maecenas sodales iaculis purus. Ut vel magna eu ante hendrerit feugiat vel in orci. Nulla sodales orci nisl, non euismod felis posuere vel. Aliquam gravida metus congue nisi euismod fringilla et cursus quam. Integer a molestie felis. Sed consequat dignissim sem, eget fermentum diam dignissim sed. Nam eu nulla ut tellus consectetur tincidunt cursus et ligula. Mauris id justo egestas, tincidunt mi congue, dapibus metus. Nulla volutpat justo ut est aliquam maximus. Integer tincidunt volutpat tristique. Suspendisse imperdiet, tortor quis interdum molestie, neque erat volutpat est, vitae ultricies sem erat eu dolor.
</p>