<!DOCTYPE html>
<html lang="en" ng-app="SchoolModule" ng-controller="TitleController">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>{{ title }}</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/shop-item.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/allcourses" ng-click="AllCourses()">School Portal</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/#/about">About</a>
                    </li>
                    <li>
                        <a href="/#/contact">Contact</a>
                    </li>
                </ul>
                <div class="nav navbar-nav" style="float: right; margin-top: 15px;">
                    <label style="color: white;">Login: </label>
                    <select>
                        <option>(select)</option>
                        <option selected="selected">Mark Mahoney</option>
                    </select>
                </div>

            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <!--Left Column -->
        <div class="col-md-3">
            <p class="lead">Navigation</p>
            <div class="list-group">
                <a id="AllCourses" href="/#/allcourses" class="list-group-item active" ng-click="AllCourses()">All Courses</a>
                <a id="MyCourses" href="/#/mycourses" class="list-group-item" ng-click="MyCourses()">My Courses</a>
            </div>
        </div>
        <!--Middle Column-->
        <div class="col-md-9">
            <!--Partial-->
            <div ng-view></div>
        </div>
    </div>

    <div class="container">
        <p>Copyright &copy; Your Website 2014</p>
    </div>


    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/site.js"></script>
</body>
</html>
